<h2>Posted Article</h2>

<p class="articleTitle">
  <%= @article.title if @article.title%>
</p>


<p id="articleInfo">
  <i><%=@article.journal.name if @article.journal%></i>
  <strong><%= @article.year if @article.year%></strong>
  <i><%= @article.vol if @article.vol%></i>
  <%= "(#{@article.issue})" if @article.issue%>
  <%= "p#{@article.start_page}" if @article.start_page %>
</p>

<p id="articleDOI">
  DOI: <%= @article.doi %>
</p>

<p id="articleUser">
  <% if @article.users.any? %>
    posted by <%= @article.users.last.first_name%> <%= @article.users.last.last_name%>
  <% end %>
</p>

<p>
  <% if @article.users.include?(current_user) %>
    <font color="blue"><%= "You are the author of the article" %></font>
  <% elsif @article.demands.include?(Demand.find_by(reader_id: current_user.id)) %>
    <font color="red"><%= "You have already requested the article" %></font>
  <% else %>
    <%= render partial: 'request_form', locals: {article: @article} %>
  <% end %>
</p>
<br>

<a href="#" class="js-next" data-id="<%=@article.id%>">Next Article</a>

<script type="text/javascript" charset="utf-8">

$(function() {
  $(".js-next").on("click", function(event){
    var nextId = parseInt($(".js-next").attr("data-id")) + 1;
    $.get("/articles/" + nextId + ".json", function(article) {
      $(".articleTitle").text(article["title"]);
      $("#articleInfo").html( articleListEntry(article) );
      $("#articleDOI").text(article["doi"]);
      $("#articleUser").text(article["users"]);
      $(".js-next").attr("data-id", article["id"]);
    });
    event.preventDefault();
  });
});

</script>
