<h2>Posted Article</h2>

<p>
  <%= @article.title if @article.title%>
</p>

<p>
  <%=@article.journal.name if @article.journal%>
  <strong><%= @article.year if @article.year%></strong>
  <i><%= @article.vol if @article.vol%></i>
  (<%= @article.issue if @article.issue%>)
  p<%= @article.start_page if @article.start_page %>
</p>

<p>
  DOI: <%= @article.doi %>
</p>

<p>
  <% if @article.authors.any? %>
    posted by <%= @article.authors.last.first_name%> <%= @article.authors.last.last_name%>
  <% end %>
</p>

<p>
  <% unless @article.authors.include?(current_user) %>
    <%= render partial: 'request_form', locals: {article: @article} %>
  <% end %>
</p>
