<h2>Posted Article</h2>
  <p>
    DOI: <%= @article.doi %>
  </p>
  <p>
    <%= @article.title %>
  </p>

  <p>
    <strong><%= @article.year %></strong> <i><%= @article.vol %></i> (<%= @article.issue %>) p<%= @article.start_page %>
  </p>
