<h2>Posted Article</h2>

<p>
  <%= @article.title if @article.title%>
</p>

<p>
  <%=@article.journal.name if @article.journal%>
  <strong><%= @article.year if @article.year%></strong>
  <i><%= @article.vol if @article.vol%></i>
  (<%= @article.issue if @article.issue%>)
  p<%= @article.start_page if @article.start_page %>
</p>

<p>
  DOI: <%= @article.doi %>
</p>

<p>
  posted by <%= @article.users.last.first_name %> <%= @article.users.last.last_name %>
</p>
