<h4>Find Article by Author Name</h4>
<%= form_tag users_path, :method => 'get' do %>
  <p>
    First Name: <%= text_field_tag :first_name %>
    Last Name: <%= text_field_tag :last_name %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
<br></br>
<% if @users.any? %>
  <% @users.each do |user| %>
    <h5>
      Please click the author's name below to see the author's articles:
      <br></br>
      <%= link_to "#{user.first_name} #{user.last_name}", user_articles_path(user) %>
    </h5>
  <% end %>
<% end %>
