<h4>You got a request from <%= requested_reader.first_name %> <%= requested_reader.last_name%>.</h4>
<p>
  Please send <%= requested_reader.first_name %> <%= requested_reader.last_name%> (email: <%= requested_reader.email %>) the article shown below.
</p>

<p>
  <%= requested_article.title if requested_article.title%>
</p>
<p>
  <i><%=requested_article.journal.name if requested_article.journal%></i>
  <strong><%= requested_article.year if requested_article.year%></strong>
  <i><%= requested_article.vol if requested_article.vol%></i>
  (<%= requested_article.issue if requested_article.issue%>)
  p<%= requested_article.start_page if requested_article.start_page %>
</p>
<p>
  DOI: <%= requested_article.doi %>
</p>
<br>

<p>
  If you have sent the requested article, please click here.
  <%= link_to "Sent", demand_path(@demand), :method => :delete %>
</p>
