<h2>Scientific Article Sharing Website! </h2>
<h4><i>Scientific Literatures Shared by Authors</i></h4>
<br>

<% if current_user && current_user.passive_requests.any? %>
  <h4> Request from other users </h4>
  <ul>
  <% current_user.passive_requests.each do |req| %>
    <li>
      <%= User.find(req.reader_id).first_name %>
      requested "<%= link_to Article.find(req.article_id).title, demand_path(req) %>"
    </li>
  <% end %>
  </ul>
<% end %>
<br>

<h4> Post your article </h4>

<h5>If you are an author of scientific literatures and would like to share yours with others, please list your literatures here!</h5>
<%= link_to "Add your Article", new_article_path %>
<br>
</br>

<h4>Search</h4>

<%= form_tag searches_path, :method => 'post' do %>
  <p> type DOI of the literature you are looking for: </P>
  <p>
    <%= text_field_tag :doi %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
